/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#big-container {
  height: calc(100vh - 100px);
  display: flex;
}

body {
  color: #929292;
  font-family: 'Signika', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
}

.white {
  color: white;
}

.flex{
  display: flex;
}




/* REGOLE ASIDE */

aside {
  width: 300px;
  height: 100%;
  background-color: #000000;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  width: 60%;
  margin-top: 15px;
  margin-left: 15px;
}

/* Aside nav */

#aside-nav {
  margin: 20px 0;
}

#aside-nav div {
  align-items: center;
  padding-left: 15px;
  margin: 5px 0;
}

#aside-nav div:not(.white) {
  margin-left: 2px;
}

#aside-nav img {
  width: 30px;
  margin-right: 15px;
}

#aside-nav .white {
  border-left: 2px solid #adff2f;
}

/* Aside playlist */

#aside-playlist {
  margin-left: 15px;
}

#aside-playlist .fas.fa-plus {
  background-color: #929292;
  color: #000000;
  padding: 10px;
  border-radius: 2px;
  margin: 5px 10px 5px 0;
}

#aside-playlist>a:hover .fas.fa-plus{
  background-color: white;
}

/* Aside bottom */

#aside-bottom {
  padding: 15px;
}

#aside-bottom .far.fa-arrow-alt-circle-down {
  margin-right: 5px;
}

#aside-bottom>div {
  margin: 5px 0;
}

#aside-bottom>div:last-child {
  padding-top: 5px;
}

#aside-bottom img {
  width: 30px;
  background-color: #929292;
  border-radius: 50%;
  margin-right: 10px;
}



/* REGOLE MAIN */

main {
  width: calc( 100vw - 300px);
  height: 100%;
  background-color: #141922;
}




/* REGOLE FOOTER */

footer {
  height: 100px;
  background-color: #282828;
}
