/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#big-container {
  height: calc(100vh - 70px);
  display: flex;
}

body {
  color: #929292;
  font-family: 'Signika', sans-serif;
  font-size: 13px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
}

.white {
  color: white;
}

.flex{
  display: flex;
}




/* REGOLE ASIDE */

#aside-large {
  width: 250px;
  height: 100%;
  background-color: #000000;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

#logo {
  width: 70%;
  margin-top: 15px;
  margin-left: 15px;
}

/* Aside nav */

#aside-nav {
  margin: 20px 0;
}

#aside-nav div {
  align-items: center;
  padding-left: 15px;
  margin: 5px 0;
}

#aside-nav div:not(.white) {
  margin-left: 2px;
}

#aside-nav img {
  width: 30px;
  margin-right: 15px;
}

#aside-nav .white {
  border-left: 2px solid #adff2f;
}

/* Aside playlist */

#aside-playlist {
  margin-left: 15px;
  flex-grow: 1;
  height: 100px;
  overflow-y: scroll;
  flex-shrink: 0;
}

#aside-large .playlist-title {
  margin-left: 15px;
}

#aside-playlist .fas.fa-plus {
  background-color: #929292;
  color: #000000;
  padding: 10px;
  border-radius: 2px;
  margin: 5px 10px 5px 0;
}

#aside-playlist>a:hover .fas.fa-plus{
  background-color: white;
}


/* Aside bottom */

#aside-bottom {
  padding: 15px;
}

#aside-bottom .far.fa-arrow-alt-circle-down {
  margin-right: 5px;
}

#aside-bottom>div {
  margin: 5px 0;
}

#aside-bottom>div:last-child {
  padding-top: 5px;
}

.profile-img {
  width: 30px;
  background-color: #929292;
  border-radius: 50%;
}

#aside-bottom .profile-img {
  margin-right: 10px;
}

@media all and (max-width:768px) {
  #aside-large {
    display: none;
  }
}




/* ASIDE PHONE */

#aside-phone {
  width: 70px;
  height: 100%;
  background-color: #000000;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#aside-phone>div {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aside-phone img {
  width: 30px;
}

@media all and (min-width:769px) {
  #aside-phone {
    display: none;
  }
}



/* REGOLE MAIN */

main {
  width: calc( 100vw - 70px);
  height: 100%;
  background-color: #141922;
  overflow-y: scroll;
}

@media all and (min-width:769px) {
  main {
    width: calc( 100vw - 250px);
  }
}

/* main header - effettua upgrade */

#main-header {
  position: sticky;
  top: 0;
  background-color: rgba(8, 11, 18, 0.8);
  height: 70px;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 30px;
  z-index: 900;
}

#upgrade {
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px 30px;
  transition: 0.5s;
}

#upgrade:hover {
  transform: scale(110%);
}

/* main nav */

#main-nav {
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

#main-nav>a {
  margin: 0 15px;
}

#main-nav>a:first-child {
  border-bottom: 2px solid #adff2f;
}

/* main Recently Played */

.main-section {
  padding: 0 10px;
  margin: 40px 10px;
}

.main-section>h2 {
  padding-left: 10px;
}

.main-section>span {
  padding-left: 10px;
}


.main-section>.flex {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.album-block {
  width: calc(100% / 6);
  padding: 0 10px;
  margin-top: 20px;
  text-align: center;
}

.album-img {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.album-img img {
  width: 100%;
}

.album-img .far.fa-play-circle {
  position: absolute;
  font-size: 50px;
  display: none;
}

.album-block:hover .far.fa-play-circle {
  display: block;
}

.artisti-popolari img {
  border-radius: 50%;
}

.album-block:hover img {
  filter: grayscale(0.8);
  filter: brightness(0.3);
}

.artisti-popolari .layover-album {
  border-radius: 50%;
}


@media all and (min-width:769px) and (max-width:991px) {
  .album-block {
    width: calc(100% / 4);
  }
}
@media all and (max-width:768px) {
  .album-block {
    width: calc(100% / 2);
  }
}





/* REGOLE FOOTER */

footer {
  height: 70px;
  background-color: #282828;
  z-index: 900;
}
